@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
    -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
    border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

@mixin text-shadow($horizOffset, $vertOffset, $blur, $color,$horizOffset1, $vertOffset1, $blur1, $color1) {
    -webkit-text-shadow: $horizOffset $vertOffset $blur $color,$horizOffset1 $vertOffset1 $blur, $color1;
    -moz-text-shadow: $horizOffset $vertOffset $blur $color,$horizOffset1 $vertOffset1 $blur1 $color1;
    -ms-text-shadow: $horizOffset $vertOffset $blur $color,$horizOffset1 $vertOffset1 $blur1 $color1; 
    -o-text-shadow: $horizOffset $vertOffset $blur $color,$horizOffset1 $vertOffset1 $blur1 $color1;
    text-shadow: $horizOffset $vertOffset $blur $color,$horizOffset1 $vertOffset1 $blur1 $color1;
}

@mixin box-shadow($horizOffset, $vertOffset, $blur, $color) {
    -webkit-box-shadow: $horizOffset $vertOffset $blur $color;
    -moz-box-shadow: $horizOffset $vertOffset $blur $color;
    -ms-box-shadow: $horizOffset $vertOffset $blur $color;
    -o-box-shadow: $horizOffset $vertOffset $blur $color;
    box-shadow: $horizOffset $vertOffset $blur $color;
}

@mixin background-size($cover){
    -webkit-background-size:$cover;
    -moz-background-size:$cover;
    -ms-background-size:$cover;
    -o-background-size:$cover;
    background-size:$cover;
} 

@mixin linear-gradient($direction, $color1,$color2,$color3,$color4,$color5){
    background: -webkit-linear-gradient($direction,$color1,$color2,$color3,$color4,$color5);
    background: -moz-linear-gradient($direction,$color1,$color2,$color3,$color4,$color5); 
    background: -ms-linear-gradient($direction,$color1,$color2,$color3,$color4,$color5); 
    background: -o-linear-gradient($direction,$color1,$color2,$color3,$color4,$color5); 
    background: linear-gradient($direction,$color1,$color2,$color3,$color4,$color5); 
}

@mixin position($position,$top,$left){
   position:$position;
   top:$top;
   left:$left; 
}

@mixin width($width,$margin-top,$margin-left){
    width:$width;
    margin-top: $margin-top;
    margin-left: $margin-left; 
}

@mixin font ($font-family,$font-size,$color){
    font-family: $font-family;
    font-size:$font-size;
    color:$color; 
}

@mixin margin-carousel-prev($margin-top,$margin-left){
    margin-top:$margin-top;
    margin-left:$margin-left;
}

@mixin margin-carousel-next($margin-top,$margin-right){
    margin-top: $margin-top;
    margin-right: $margin-right;
}
* {
    margin: 0;
    padding: 0;
    border: none;
}

body,html{
    height:100%;
}

@font-face {
    font-family: LeagueGothicRegular;
    src: url('fonts/LeagueGothicRegular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans.ttf');
}

@font-face {
    font-family: OpenSansExtraBold;
    src: url('fonts/OpenSansExtraBold.ttf');
}

@font-face {
    font-family: GeorgiaItalic;
    src: url('fonts/GeorgiaItalic.ttf');
}
/* HEADER */
header{
   background: url(img/bg_header.jpg) no-repeat center center fixed;
    @include background-size(cover);  
    height:845px;
     .nav_wrapper{
       display: flex;
       justify-content: center;
         .nav_wrapper_img_logo{
           margin-top: 70px;
         }
         nav{
           margin: 80px -70px 0 120px;
             ul{
               display: flex;
               justify-content: center;
               margin-right: -30px;
                 li{
                   list-style: none;
                   padding: 0 20px;
                   text-transform: uppercase;
                     a{  
                      text-decoration: none;
                      @include font(LeagueGothicRegular,24px,#ffffff);   
                        &:hover{
                          border-bottom: 3px solid #edbfff;
                          line-height: 36px;   
                       }    
                    }
                }   
             } 
         } 
     }
   .main_content{
       display: flex;
       background: rgba(0,0,0,0.2);
       height: 400px;
       margin-top: 150px;
        .text{
           width:50%;
           margin-top: 5%;
             h1{
              margin-left: 300px;
              font-weight: normal;
              @include font(LeagueGothicRegular,50px,#ffffff);
             }
             h2{   
              font-weight: normal;
              padding-left: 300px;
              @include font(LeagueGothicRegular,25px, #edbfff);
            }
            p{ 
              padding-left: 300px;
              color: #ffffff;
              font-family: OpenSans;
            }
       } 
       .iphone_for_desktop img {
          margin: -10% 0 0 60%;
        } 
       .iphone_for_mob img {
          display: none;
        }
    }
       .carousel-control-prev{
          margin-top: 10%;   
       }
       .carousel-control-next{
         margin-top: 10%;  
       }
    
 }
    /* MAIN */
main{
  .sec1_main_about_company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include linear-gradient(to bottom, #714e7f, #684875, #573d63, #44314d, #35273c);
    width: 100%;
    padding: 60px 0 40px 0;
      .first_column,.second_column,.third_column{
           #more_first,#more_second,#more_third{
              display: none;
           } 
             width: 15%; 
           h2{
             text-transform: uppercase;
             font-weight: normal;
             margin-left: -25px;
             @include font(LeagueGothicRegular,30px, #ffffff); 
           }
           p{
            font-family: OpenSans;
            color: #ffffff;
            padding-top: 7px;  
           }
       }
       .second_column{
         margin: 0 90px 0 90px  
       } 
       .first_column h2:before{
         content: url(img/icon_1.png);
         @include position(relative,15px,-30px);
       }
       .second_column h2:before{
         content: url(img/icon_2.png);
         @include position(relative,15px,-30px);
       }
       .third_column h2:before{
         content: url(img/icon_3.png);
         @include position(relative,15px,-30px);
       }
       .button{
          background: none;
          border: none;
          padding: 10px 15px 0 0;
          text-transform: uppercase;
          text-align: right;
           @include font(LeagueGothicRegular,20px, #ffffff); 
             &:hover{
                @include text-shadow(3px, 3px, 3px, #ffffff,-3px, -3px, 3px, #ffffff);
            }
        }
    }
            /* SECTION 2*/
    .sec2_main_updates{
          background-color: #f9f9f9;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 60px 0 60px 0;
          border-bottom: 2px solid #e6e6e6; 
    
        .sec2_main_updates_container_left{
           width: 25%;
           background-color: #ffffff;
           margin-left: -50px;
             h2{
               font-weight: normal;
               text-transform: uppercase;
               margin-left: -20px;
                 @include font(LeagueGothicRegular,30px, #454545); 
                   &:before{
                    content: url(img/icon_man.png);
                    @include position(relative,15px,-15px);
                 }
             }
             p{
              padding: 10px 25px 15px 25px;
              @include font(OpenSans,16px, #454545);
            }
         }
        .sec2_main_updates_container_right{
           margin: 40px 0px 0 140px; 
             h2{
               text-transform: uppercase;
               font-weight: normal;
               margin-left: -60px;
               @include font(LeagueGothicRegular,30px, #454545); 
             }
             h3{
               margin-left: -50px;
               @include font(OpenSansExtraBold,16px,#454545);
             } 
            .upd_recent h3:before{
              content: url(img/icon_upd_recent.png);
              @include position(relative,30px,-15px);
            } 
            .upd_category h3:before{
              content: url(img/icon_upd_blog.png);
              @include position(relative,30px,-15px);
            }
            .upd_blog h3:before{
              content: url(img/icon_upd_blog.png);
              @include position(relative,30px,-15px);
            }
            p{
             @include font(OpenSans,16px,#454545);  
            }
            .button{
              background: none;
              border: none;
              padding: 10px 0px 0 0;
              text-transform: uppercase;
              text-align: right;
              cursor: pointer;
              @include font(LeagueGothicRegular,20px,#454545);  
            }
            .button_for_mobile button{
              display: none;
              background: none;
              border: none;
              padding: 10px 0px 0 150px;
              text-transform: uppercase;
              text-align: right;
              cursor: pointer;
              @include font(LeagueGothicRegular,20px,#454545); 
            }
         }
      }
    /*SECTION 3*/
     .sec3_icons{
       display: flex;
       justify-content: center;
       padding: 20px;
       margin-left: -50px;
       border-bottom: 2px solid #d8d8d8;
          sec3_icons_main_icon_1,.sec3_icons_main_icon_2,.sec3_icons_main_icon_3,
         .sec3_icons_main_icon_4,.sec3_icons_main_icon_5,.sec3_icons_main_icon_6{
            margin: 0 30px 0 30px; 
         }
         .sec3_icons_main_icon_5{
             padding-top: 20px;
         } 
     }
 }
    /* FOOTER */
footer{
    .info_part{
        display: flex;
        justify-content: center;
        background-color: #ececec;
        padding: 70px 0 70px 0;
         .info_part_text_pigbull,.info_part_text_comments,.info_part_text_categories{
             width: 17%;
               h2{
                 font-weight: normal;
                 text-transform: uppercase;
                 @include font(LeagueGothicRegular,30px,#454545); 
               }
               p{
                @include font(OpenSans,16px,#787878); 
               }
          }
          .info_part_text_pigbull{
              h2{
                font-size:48px;
              }
              .copyright{
                  font-family:GeorgiaItalic;
                  color: #d1d1d1;
              }
          }
          .info_part_text_comments{
              margin: 0 60px 0 60px;
          }
      } 
     .nav_wrapper{
         background: url(img/img_footer.jpg) no-repeat center center;
         @include background-size(cover);
         height: 115px;
         display: flex;
         justify-content: space-around;
         align-items: center; 
         nav{
             ul{
               display: flex;
               margin-left: 180px;
                 li{
                   list-style: none;
                   padding: 0 20px;
                   text-transform: uppercase;
                     a{
                      text-decoration: none;
                      @include font(LeagueGothicRegular,20px,#ffffff);   
                     }
                 }
             }
         }
         p{
          margin-right: 200px;
          @include font(OpenSans,12px,#ededee);
         }
     }
 }


@media screen and (min-width: 768px) and (max-width: 1300px) {
body{
  overflow-x: hidden;
}  
    /* HEADER */ 
 header{
     .nav_wrapper{
        margin-left: 200px;
        flex-direction: column;
          nav{
            margin: 30px 0px 0 -100px  
          }
     }
     .main_content{
        .text{
            width:51%;
             h1{
               margin-left: 50px;
             }
             h2{
               padding-left: 50px;
             }
             p{
                padding-left: 50px;  
              }
          } 
          .iphone_for_desktop img{
             margin: -10% 0 0 20%;
          }
     }
         .carousel-control-prev{
            @include margin-carousel-prev(12%,-5%);
         }
         .carousel-control-next{
            @include margin-carousel-next(12%,-3%); 
         }
  }   
  /* SEC1_MAIN */   
main{
   .sec1_main_about_company{
        .first_column,.second_column,.third_column{
            width: 25%;
              h2:before{
              @include position(relative,8px,-10px);
              }
         }  
        .second_column{
            margin: 0 50px 0 50px;
        }
    } 
}
  /* SEC2_MAIN */
main{
    .sec2_main_updates{
        .sec2_main_updates_container_left{
               width: 40%;
               margin-left: 0px;
        }
        .sec2_main_updates_container_right{
            margin: 40px 0px 0 100px;
            .button{
                display: none;
            }
            .button_for_mobile button{
                display: block;
            }
            .display_none{
                display: none;
            }
        }
    }     
  /*SEC3_ICONS */
    .sec3_icons{
         margin-left: 10px;
          sec3_icons_main_icon_1,.sec3_icons_main_icon_2,.sec3_icons_main_icon_3,
          .sec3_icons_main_icon_4,.sec3_icons_main_icon_5,.sec3_icons_main_icon_6{
               margin: 0 20px 0 20px; 
         }
    }
}
   /* FOOTER */
footer{
    .info_part{
        .info_part_text_pigbull,.info_part_text_comments,.info_part_text_categories{
            width: 30%;
        }
        .info_part_text_comments{
             margin: 0 20px 0 20px;
        }
     } 
    .nav_wrapper{
        nav{
            ul{
                margin-left: 0px;
            }
        }
        p{
            margin: 35px 0 0 0;
        }
    }
}
}



@media screen and (min-width: 480px) and (max-width: 767px) {
        /* HEADER */
header{
  background: url(img/bg_header_mobile.jpg) no-repeat center center fixed;
  @include background-size(cover);
  height:547px;
     .nav_wrapper {
        flex-direction: column;
        align-items: center;
           nav{
             margin: 30px 0px 0 0px;
               ul{
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 0px;
                width: 180px;
                min-height: 30px;
                border: solid 1px #1d252b;
                @include border-radius(5px, 5px, 5px, 5px);
                @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, .3));
                    li{
                      display: none; 
                      margin: 0;
                       a{
                        font-size: 20px;
                     }
                  }   
               } 
           } 
           nav .current{
               display: block; 
               background-color: #43364a;
               min-height: 30px;
                  a{
                   color: #ffffff;
                   display: inline-block;
                   margin: 5px 5px 5px 50px;
                   border-bottom: 2px solid #edbfff; 
                  }
              }
              nav a {
                margin: 5px 5px 5px 0px;
                text-align: center;
                display: block;
              }
              nav ul:hover li {
                display: block;
                background-color: #2d2432;
                border-bottom: 3px solid #523f5a;
              }
              nav ul li a:hover {
                border-bottom: 2px solid #edbfff;
              }
              nav ul:hover .current {
                background-color: #483b4e;
              }
           }
  .main_content{
         height: 200px;
         margin-top:90px;
     .text{
          @include width(55%,5%,3%);
            h1{
              margin-left: 30px;
              font-size: 40px;
            }
            h2{
              padding-left: 30px;
              font-size: 17px
            }
            p{
             display: none;
            }
       }
       .iphone_for_desktop img{
            display: none;
        }
        .iphone_for_mob img{
           display: block;
           margin-top: -10%;
        }
    }
        .carousel-control-prev{
           @include margin-carousel-prev(10%,-3%);
        }
       .carousel-control-next{
           @include margin-carousel-next(10%,-3%); 
        }
 } 
    /* SEC1_MAIN */
main{
  .sec1_main_about_company {
      flex-direction: column;
      padding: 30px 0 30px 0;
        .first_column,.second_column,.third_column {
          width: 70%;
            h2:before{
             @include position(relative,10px,-10px);
            }
        }
        .second_column{
             margin: 0 50px 0 50px;
        }
   }
   /* SEC2_MAIN */
  .sec2_main_updates{
      flex-direction: column;
      padding: 40px 0 40px 0;
         .sec2_main_updates_container_right{
            margin: 40px 0px 0 80px;
               .button {
                  display: none;
               }
               .button_for_mobile button {
                  display: block;
               }
               .display_none {
                  display: none;
               }
          }
          .sec2_main_updates_container_left {
             width: 65%;
             margin-left: 30px;
         }
     }  
     /*SEC3_ICONS */
     .sec3_icons {
        flex-wrap: wrap;
        padding: 0px;
        margin-left: 0px;
           sec3_icons_main_icon_1,.sec3_icons_main_icon_2,.sec3_icons_main_icon_3,
          .sec3_icons_main_icon_4,.sec3_icons_main_icon_5,.sec3_icons_main_icon_6{
                margin: 0 30px 0 30px; 
           }
      }
 }
      /* FOOTER */  
footer{
    .info_part {
        flex-direction: column;
        align-items: center;
        padding: 50px 0 50px 0;
          .info_part_text_pigbull,.info_part_text_comments,.info_part_text_categories{
            width: 80%;
        }
        .info_part_text_comments{
            margin: 30px 0px 30px 0px;
        }
    }
    .nav_wrapper{
       flex-direction: column;
       background: url(img/img_footer.mobile.jpg) no-repeat;
       @include background-size(cover);
       height: 202px;
         nav{
            ul{
              margin-left: 0px;
                li{
                  padding: 0 10px;
                }
            }
         }
        p{
          margin: -60px 0 0 0;
        }
    }
}
}


@media screen and (min-width: 320px) and (max-width: 479px) {
header{
  background: url(img/bg_header_mobile.jpg) no-repeat center center fixed;
  @include background-size(cover);
  height:547px;
     .nav_wrapper {
        flex-direction: column;
        align-items: center;
           nav{
             margin: 30px 0px 0 0px;
               ul{
                 display: flex;
                 justify-content: center;
                 flex-direction: column;
                 margin-right: 0px;
                 width: 180px;
                 min-height: 30px;
                 border: solid 1px #1d252b;
                 @include border-radius(5px, 5px, 5px, 5px);
                 @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, .3));
                    li{
                      display: none;
                      margin: 0;
                        a{
                         font-size: 20px;
                        }
                    }   
               } 
           } 
           nav .current{
               display: block; 
               background-color: #43364a;
               min-height: 30px;
                  a{
                   color: #ffffff;
                   display: inline-block;
                   margin: 5px 5px 5px 50px;
                   border-bottom: 2px solid #edbfff; 
                  }
              }
              nav a {
                margin: 5px 5px 5px 0px;
                text-align: center;
                display: block;
              }
              nav ul:hover li {
                display: block;
                background-color: #2d2432;
                border-bottom: 3px solid #523f5a;
              }
              nav ul li a:hover {
                border-bottom: 2px solid #edbfff;
              }
              nav ul:hover .current {
                background-color: #483b4e;
              }
           }
  .main_content{
         height: 200px;
         margin-top:90px;
     .text{
          @include width(60%,15%,20%);
            h1{
              margin-left: 30px;
              font-size: 25px;
            }
            h2{
              padding-left: 30px;
              font-size: 15px;
            }
            p{
              display: none;
            }
       }
        .iphone_for_desktop img{
            display: none;
        }
        .iphone_for_mob img{
            display: none;
        }
    }
        .carousel-control-prev{
           @include margin-carousel-prev(20%,10%);
        }
       .carousel-control-next{
           @include margin-carousel-next(20%,10%); 
        }
   }     
main{
  .sec1_main_about_company {
      flex-direction: column;
      padding: 30px 0 30px 0;
        .first_column,.second_column,.third_column {
          width: 70%;
            h2:before{
            @include position(relative,10px,-10px);
            }
        }
        .second_column{
             margin: 0 50px 0 50px;
        }
   }
    /* SEC2_MAIN */
    .sec2_main_updates{
        flex-direction: column;
        padding: 40px 0 40px 0;
          .sec2_main_updates_container_right{
             margin: 40px 0px 0 60px;
               .button {
                  display: none;
               }
               .button_for_mobile button {
                  display: block;
                  font-size: 15px;
               }
               .display_none {
                  display: none;
               }
          }
          .sec2_main_updates_container_left {
             width: 75%;
             margin-left: 30px;
          }
     }  
     /*SEC3_ICONS */
     .sec3_icons {
        flex-wrap: wrap;
        padding: 0px;
        margin-left: 0px;
           sec3_icons_main_icon_1,.sec3_icons_main_icon_2,.sec3_icons_main_icon_3,
          .sec3_icons_main_icon_4,.sec3_icons_main_icon_5,.sec3_icons_main_icon_6{
                margin: 0 20px 0 20px; 
           }
      }
 }    
 footer{
    .info_part {
       display: none;
    }
     .nav_wrapper{
        flex-direction: column;
        background: url(img/img_footer.mobile.jpg) no-repeat;
        @include background-size(cover);
        height: 202px;
         nav{
           display: none;
        }
        p{
          margin: -60px 0 0 0;
        }
    }
}   
}


